@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600;800&family=Edu+TAS+Beginner:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*font-family: 'Geologica', sans-serif;*/
:root{
    --font-titulo-prin:'Geologica', sans-serif;
    --fontzide-titulo-prin:40px;
    --color-titulo-prin:white;

    --font-titulo-secu:'Geologica', sans-serif;
    --fontzide-titulo-secu:30px;
    --color-titulo-secu:white;

    --font-titulo-tarj:'Geologica', sans-serif;
    --fontzide-titulo-tarj:22px;
    --color-titulo-tarj:white;

    --font-parra:'Geologica', sans-serif;
    --fontsize-parra:16px;
    --color-parra:white;
    

    --fondo-bg: linear-gradient(150deg,white,#414441,black);

    /* --estilo-titulo-prin: 2px 2px 8px white; */
}
/*Barra de navegacion inicia*/
.navbar{
    background-color: rgba(0, 0, 0, 0.2) !important;
    padding: 2px;
}

.navbar img{
    padding: 10px;
}

.navbar.navega{
    background-color: black !important;
    border-bottom: 2px solid black;
    padding-bottom: 0px;
}

.navbar-toggler i{
    font-size: 25px;
    color: white;
}

.navbar .nav-item a,
.d-flex .form-control{
    border: 0;
    background-image: linear-gradient(150deg,#4b4ba1ef,#09f,#00ddff);
    border-radius:8px;
    color: white;
    display: flex;
    font-size: var(--font-parra);
    font-family: var(--font-parra);
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    margin: 10px 10px;
}
.nav-link:hover{
    background: none;
    transform: scale(0.9);
}
/* .d-flex .form-control{
    border: 0;
    background-image: linear-gradient(150deg,#4b4ba1ef,#09f,#00ddff);
    border-radius:8px;
    color: white;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    margin: 10px 10px;
} */
#mynavbar ::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
.d-flex button{
    background-image: linear-gradient(150deg,#4b4ba1ef,#09f,#00ddff);
    color: black; 
    font-size: 25px;
}
/*Barra de navegacion Fin*/

/*Principal Inicio*/

.principal{
    background-image: var(--fondo-bg);
    padding: 10px;
}
.principal h1{
    padding: 5px;
    text-align: center;
    font-size: var(--fontzide-titulo-prin);
    color: var(--color-titulo-prin);
    font-family: var(--font-titulo-prin);
}
.principal h2{
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    font-size: var(--fontzide-titulo-secu);
    color: var(--color-titulo-secu);
    font-family: var(--font-titulo-secu);
}

/*Inicio Trajetas principal*/
.cont-tarjeta{
    margin: 0px;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.card.alto-card{
    height: 400px;
}
.card-body .card-title{
    font-size: var(--fontzide-titulo-tarj);
    color: var(--color-titulo-tarj);
    font-family: var(--font-titulo-tarj);
}
.card-body .card-text{
    font-size: var(--fontzide-parra);
    color: var(--color-parra);
    font-family: var(--font-parra);
}
.cont-tarjeta img{
    padding: 5px;
    background-size: cover;
    background-position: center;
}
.card img{
    height: 250px;
}
/*Tarjetas Novedades Principal Inicio*/

/*Inicia Footer*/
footer{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.fot-izq{
    margin-top: 20px;
    text-align: center;
    align-items: center;
    padding: 10px;
}
.fot-izq h4{
    font-size: var(--fontzide-titulo-tarj);
    color: var(--color-titulo-tarj);
    font-family: var(--font-titulo-tarj);
}
.fot-izq i{
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 10px;
}
.fot-centro .dropdown button{
    border: 0;
    width: 200px;
    background-image: linear-gradient(150deg,#4b4ba1ef,#09f,#00ddff);
    border-radius:8px;
    color: white;
    display: flex;
    font-size: 18px;
    padding: 4px;
    padding-left: 40px;
    cursor: pointer;
    transition: .3s;
}

.dropdown-menu.active, .dropdown-menu a:hover{
    background-image: linear-gradient(150deg,#4b4ba1ef,#09f,#00ddff);
}
.fot-centro{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
} 

.fot-derecha h4{
    margin-top: 20px;
    font-size: var(--fontzide-titulo-tarj);
    color: var(--color-titulo-tarj);
    font-family: var(--font-titulo-tarj);
    text-align: center;
}
.fot-derecha i, span, a{
    padding: 8px;
    color: white;
    font-size: 16px;
}
.fot-derecha span, a{
    text-align: center;
}

/*Finaliza Footer*/

/*Inicia Pagina Nosotros*/
.banner{
    background-image: url(./multimedia/fondoprin.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
}
.banner .noso{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.banner .noso h1{
    padding: 5px;
    text-align: center;
    font-size: var(--fontzide-titulo-prin);
    color: var(--color-titulo-prin);
    font-family: var(--font-titulo-prin);
    backdrop-filter: blur(10px);
    border: 3px solid black;
    border-radius: 10px;
}
.ban-izq p{
    padding: 10px;
    font-family:var(--font-parra);
    font-size: var(--fontzide-parra);
    color: black;
    font-weight: bold;
    backdrop-filter: blur(10px);
    border: 3px solid black;
    border-radius: 10px;
}
.ban-derecha h4{
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    font-size: var(--fontzide-parra);
    color: var(--color-parra);
    font-family: var(--font-parra);
    backdrop-filter: blur(10px);
    border: 3px solid black;
    border-radius: 10px;
}
.ban-derecha video{
    height: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
    border: 3px solid black;
    border-radius: 10px;
}
/*Fin Pagina Nosotros*/

/*Inicia Pagina Productos*/
.productos{
    background-image: url(./multimedia/fondoprin.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}
.productos h1{
    padding: 5px;
    text-align: center;
    font-size: var(--fontzide-titulo-prin);
    color: black;
    font-family: var(--font-titulo-prin);
}
.item{
    height: 250px;
    border: 5px solid black;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s;
}
.item:hover{
    background-size: 120%;
}
.item1{
    background-image: url(./multimedia/ropa_hombre.jpg);
}
.item2{
    background-image: url(./multimedia/ropa_mujer.jpg);
}
.item3{
    background-image: url(./multimedia/chico_depo.jpg);
}
.item4{
    background-image: url(./multimedia/nena_depo.jpg);
}
.item5{
    background-image: url(./multimedia/camiseta.jpg);
}
.item6{
    background-image: url(./multimedia/camiseta1.jpg);
}
.item7{
    background-image: url(./multimedia/calsacorta.jpg);
}
.item8{
    background-image: url(./multimedia/medias.jpg);
}
.item9{
    background-image: url(./multimedia/medias_largas.jpg);
}

/*Fin Pagina Productos*/

/*Inicia Pagina Promos*/
.promos-prin{
    background-image: url(./multimedia/fondoprin.jpg);
}
.ban-promo{
    background-image: linear-gradient(150deg,white,#414441,black);
}
.ban-promo h1{
    padding: 5px;
    text-align: center;
    font-size: var(--fontzide-titulo-prin);
    color: var(--color-titulo-prin);
    font-family: var(--font-titulo-prin);
}
.ban-promo p{
    font-size: var(--fontzide-parra);
    color: var(--color-parra);
    font-family: var(--font-parra);
}
.card{
    margin: 7px;
    border: 0;
    background-image: linear-gradient(150deg,white,#414441,black);
    border-radius:8px;
}
.card-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-body h5{
    text-align: center;
    color: var(--color-titulo-tarj);
    font-size: var(--fontzide-titulo-tarj);
    font-family: var(--font-titulo-tarj);
}
.card-body p{
    height: 100px;
    font-size: var(--fontzide-parra);
    color: var(--color-parra);
    font-family: var(--font-parra);
}
/*Fin Pagina Promos*/

/*Inicio Pagina Contactos*/
.fondo-contac{
    height: 100%;
    background-image: url(./multimedia/fondo_contacto.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
}
.fondo-contac h1{
    font-size: 38px;
    color: white;
    text-align: center;
    text-shadow: 8pX 8px 15px white;
    padding: 5px;
    margin: 5px;
}
.formulario label{
    margin: 2px;
    color: white;
    font-size: 20px;
}
.formulario .boton{
    display: flex;
    justify-content: center;
}
.formulario button{
    border: 0;
    background-image: linear-gradient(150deg,#4b4ba1ef,#09f,#00ddff);
    border-radius:8px;
    color: white;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}
.formulario button span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}
.formulario button:hover span{
    background: none;
    transform: scale(0.9);
}
/*Fin Pagina Contactos*/